/*****************************
  ********* 9) Footer **********
  *****************************/

.footer {
  position: relative;
  background: var(--white);
  width: 100%;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: var(--red);
}

/* 
.footer div:first-child {
  width: 15%;
} */

.footer div:nth-child(2n) {
  width: 85%;
  padding-left: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.footer ul:first-child {
  list-style: none;
  display: flex;
  gap: 25px;
  font-size: 25px;
}

.footer ul:nth-child(2n) {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 9px;
  margin: 15px 0;
  font-size: 12px;
}

.footer a {
  color: var(--red);
  font-family: "Montserrat-Regular";
  font-size: 14px;

}

.footer ul hr {
  background: var(--red);
  border: none;
  width: 1px;
}

.p {
  font-family: "Montserrat-medium";
  font-size: 13px;
}

@media (max-width: 768px) {
  /* .footer div:first-child {
    width: 50%;
  } */

  .footer ul:first-child {
    margin: 25px 0;
  }

  .footer div:nth-child(2n),
  .footer ul:nth-child(2n) li {
    width: 100%;
    justify-content: space-around;
    font-size: 13px;
    display: flex;
  }

  .hr {
    display: none;
  }

}