/*****************************
******* 5) Secciones *********
*****************************/

.article {
  position: relative;
  width: 100%;
  height: 100vh;
  background: var(--red);
  color: var(--white);
}

.content {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column;
  position: relative;
  justify-content: center;
  padding-left: 20px;
  padding-right: 60px;
}

.article>div>section:first-child {
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
  font-size: 13px;
  justify-content: center;
  gap: 5px;
  text-align: center;
}

.article>div>section:first-child img {
  width: 70px;
}

.article>div>section:first-child span {
  width: 100%;
}

.article span {
  font-family: "Montserrat-Medium";
  font-size: 14px;
  letter-spacing: .1rem;
}

.article h1 {
  font-size: 36px;
  line-height: 45px;
  margin: 25px 0;
  text-transform: uppercase;
  font-family: "Montserrat-Black";
}

.article p {
  font-family: "Montserrat-Regular";
  font-size: 13px;
  line-height: 20px;
  color: rgb(255, 255, 255, .9);
}

.article a {
  font-family: "Montserrat-SemiBold";
  color: #fff;
  margin-top: 20px;
  font-weight: 600;
  gap: 7px;
  display: flex;
  align-items: center;
}

.flex_between {
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.flex_between section {
  width: 50%;
}

/* .red_top_right {
  margin-top: 60px;
} */

.red_top_right::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 100%;
  background: var(--red);
  top: 0;
  right: 0;
  border-bottom-left-radius: 60px;
}

.red_top_right::before {
  content: '';
  position: absolute;
  width: 61px;
  height: 61px;
  transform: rotateZ(-90deg);
  background: var(--red);
  -webkit-mask-image: radial-gradient(circle 10px at 0 0, transparent 0, transparent 59px, black 60px);
  top: -2px;
  right: 58px;
}





/* About Us */

#about_us {
  margin: -7px 0 60px;
}

/* Services */

#services>img {
  position: absolute;
  width: 100%;
  bottom: -2%;
  left: 0;
  z-index: 1;
}

/* Trabaja con nosotros */

#work_with_us>img {
  position: absolute;
  width: 100%;
  bottom: -2%;
  left: 0;
  z-index: 1;
}


/* style 1 */
.red_bottom_right::after {
  content: '';
  position: absolute;
  width: 35px;
  height: 100%;
  background: var(--red);
  top: 0;
  right: 0;
  border-top-left-radius: 60px;
}

.red_bottom_right::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 35px;
  background: var(--red);
  bottom: 0;
}

.circle::after {
  content: '';
  position: absolute;
  width: 61px;
  height: 61px;
  background: var(--red);
  -webkit-mask-image: radial-gradient(circle 10px at 0 0, transparent 0, transparent 59px, black 60px);
  bottom: 34px;
  right: 34px;
}


/* style 2 */

.red_slider_bottom::after {
  content: '';
  position: absolute;
  width: 60%;
  height: 40px;
  background: var(--red);
  bottom: 0;
  left: 0;
  border-top-right-radius: 60px;
}

.red_slider_bottom::before {
  content: '';
  position: absolute;
  width: 60px;
  height: 50px;
  background: var(--red);
  -webkit-mask-image: radial-gradient(circle 10px at 0 0, transparent 0, transparent 65px, black 60px);
  bottom: 0;
  left: calc(60% - 11px);
  transform: rotateZ(90deg);
}

/* style 3 */

.red_slider_top::after {
  content: '';
  position: absolute;
  width: 51.5%;
  height: 75px;
  background: var(--red);
  top: 0;
  right: 0;
  border-bottom-left-radius: 60px;
}

@media (min-width: 1024px) {
  .red_bottom_right::after {
    width: 200px;
    border-top-left-radius: 100px;
  }

  .red_bottom_right::before {
    width: 100%;
    height: 150px;
  }

  .circle::after {
    width: 200px;
    height: 200px;
    -webkit-mask-image: radial-gradient(circle 10px at 0 0, transparent 0, transparent 170px, black 60px);
    bottom: 120px;
    right: 170px;
  }

  /*  */

  .red_slider_bottom::after {
    height: 150px;
    border-top-right-radius: 75px;
  }

  .red_slider_bottom::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background: var(--red);
    -webkit-mask-image: radial-gradient(circle 10px at 0 0, transparent 0, transparent 75px, black 60px);
    bottom: -174px;
    left: calc(60% - 124px);
    transform: rotateZ(90deg);
    z-index: 2;
  }

  /*  */

  .red_slider_top::after {
    height: 150px;
    background: var(--red);
    top: 50px;
    right: 0;
    border-bottom-left-radius: 80px;
  }

  .red_slider_top::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background: var(--red);
    -webkit-mask-image: radial-gradient(circle 10px at 0 0, transparent 0, transparent 70px, black 60px);
    top: -130px;
    right: calc(50% - 104px);
    transform: rotateZ(-90deg);
  }





  .content {
    width: 60%;
    padding-left: 50px;
  }

  .article h1 {
    font-size: 62px;
    line-height: 68px;
    margin: 25px 0;
  }

  .article p {
    font-size: 16px;
    line-height: 25px;
    width: 65%;
  }

}


/*------------------*/